<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Project - Clyve's Website</title>
  </head>
  <body>
    {{> header}}
    <p>This is the project page</p>

    {{> footer}}
  </body>
</html>
